
/* Botões */
.btn-primary {
    background-color: #3bb93b !important; /* Verde escuro */
    border-color: #215121 !important;    /* Ajustar o contorno */
}

.btn-primary:hover {
    background-color: #194919 !important; /* Cor mais escura ao passar o mouse */
    border-color: #194919 !important;
}

/* Texto */
.text-primary {
    color: #215121 !important; /* Verde escuro */
}

/* Ícones */
.social-icons i, .fas {
    color: #215121 !important; /* Verde escuro */
}

/* Corpo */
body {
    background-image: url(/images/fundo-gelo.jpg);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333; 
}

/* Navbar */
.navbar {
    transition: all 0.3s ease;
}

.navbar-brand img {
    transition: all 0.3s ease;
}

.navbar.scrolled {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled .navbar-brand img {
    height: 35px;
}

/* Main */
main {
    padding-top: 50px;
}

/* Hero */
.hero {
    margin-top: 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

/* Carrossel */
.carousel-background {
    height: 65vh;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.9;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/* Seções */
.section-title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.section-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
}

/* Cards */
.benefit-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Ícones sociais */
.social-icons a {
    transition: opacity 0.3s ease;
}

.social-icons a:hover {
    opacity: 0.7;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        height: 70vh;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 2rem;
    }
}

/* Animações */
@keyframes fadeInUp {
    from {
    
